{% extends 'base.html' %}

{% block content %}

<div class="faq-container">

    <h1>
        Dúvidas Frequentes
    </h1>

    <div class="faq-card">

        <h3>
            Como funciona o site?
        </h3>

        <p>

            Pessoas publicam desejos em forma
            de cartinhas e outras pessoas podem
            ajudar realizando esses desejos. 💜

        </p>

    </div>

    <div class="faq-card">

        <h3>
            Posso publicar mais de uma cartinha?
        </h3>

        <p>

            Sim 😄
            Mas apenas uma por semana.

        </p>

    </div>

    <div class="faq-card">

        <h3>
            Posso apagar minha cartinha?
        </h3>

        <p>

            Sim. Basta ir no seu perfil, encontrar a cartinha e clicar em Apagar. 💌

        </p>

    </div>

</div>

{% endblock %}