{% extends 'base.html' %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1>
            Recuperar Senha
        </h1>

        <p class="auth-subtitle">
            Digite seu e-mail para receber
            um link de recuperação.
        </p>

        <form method="POST">

            {% csrf_token %}

            {{ form.email }}

            <button type="submit">
                Enviar Link
            </button>

        </form>

    </div>

</div>

{% endblock %}